{% extends 'base.html' %}
{% set active_page = 'new' %}
{% block title %} Add new record - {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-7 offset-lg-2 my-5">
        <h1>Add new record:</h1>
        <hr>
        <form method="POST" action="{{ url_for('new_record') }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>

            <div>
                {{ form.phone.label }}
                {{ form.phone(class="form-control") }}
            </div>
            <hr />

            {{ form.submit(class="btn btn-primary form-control") }}
        </form>
    </div>
</div>

{% endblock %}